@font-face {
  font-family: 'Koruri';
  src: local('Koruri'), url(./fonts/Koruri-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Koruri';
  font-weight: 700;
  src: local('Koruri'), url(./fonts/Koruri-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Audiowide';
  src: local('Audiowide'), url(./fonts/Audiowide-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  background-color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
